{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "jest"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/test.ts", "tsnode.js"] }
    ],
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": ["off"],
    "react/jsx-closing-bracket-location": [
      "warn",
      { "selfClosing": "props-aligned", "nonEmpty": "after-props" }
    ],
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
    "@typescript-eslint/camelcase": "off"
  },
  "env": {
    "node": true,
    "browser": true,
    "jest": true
  }
}
